# Summer Internship Project

---

# Data Analytics And Machine Learning 

*  ### Data analytics can be referred to as the necessary level of data science. Data Analytics done by data analyst, it is usually the person who can do basic descriptive statistics, visualize data, and communicate data points for conclusions. They must have a basic understanding of statistics, a perfect sense of databases, the ability to create new views, and the perception to visualize the data. 

*  ###  Machine learning can be defined as the practice of using algorithms to extract data, learn from it, and then forecast future trends for that topic. Traditional machine learning software is statistical analysis and predictive analysis that is used to spot patterns and catch hidden insights based on perceived data. 

*  ### A good example of machine learning implementation is Facebook. Facebook’s machine learning algorithms gather behavioral information for every user on the social platform. Based on one’s past behavior, the algorithm predicts interests and recommends articles and notifications on the news feed. Similarly, when Amazon recommends products, or when Netflix recommends movies based on past behaviors, machine learning is at work.

---

# Project Title : College Recommendation System

*   ### While Choosing colleges over different streams and states we sometimes get confused which one to choose . In these project , We are using [college_data](https://www.kaggle.com/datasets/soumyadipghorai/top-indian-colleges) dataset.That contains information about colleges across different states and different types of rating. This project show top 5 colleges based on enterd data for colleges in the states on for studying the particular subject.


---



*  #  Code

# 1. READING THE DATASET

In [1]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt

In [2]:
college_data=pd.read_csv("College_data.csv")
college_data.head()

,College_Name,State,Stream,UG_fee,PG_fee,Rating,Academic,Accommodation,Faculty,Infrastructure,Placement,Social_Life
0,Indian Institute of Technology Madras,Tamil nadu,Engineering,"75,116","23,070",8.7,9,7.9,8.7,8.8,8.8,9
1,"College of Engineering, Anna University",Tamil nadu,Engineering,"50,000","50,000",8.4,8.7,7.7,8.1,8.7,8.3,8.7
2,"NIT Trichy, Tiruchirappalli",Tamil nadu,Engineering,"1,49,250","99,250",8.5,8.6,7.8,8.2,8.7,8.8,8.7
3,Vellore Institute of Technology,Tamil nadu,Engineering,"1,98,000","1,83,000",8.3,8.3,8,7.8,8.9,8.5,8.5
4,"SRM Engineering College, Kanchipuram",Tamil nadu,Engineering,"2,60,000","1,70,000",7.2,6.5,6.6,6.9,7.6,7.1,8.3

In [3]:
print(college_data.columns)

Index(['College_Name', 'State', 'Stream', 'UG_fee', 'PG_fee', 'Rating',
       'Academic', 'Accommodation', 'Faculty', 'Infrastructure', 'Placement',
       'Social_Life'],
      dtype='object')

In [4]:
college_data.shape

(6788, 12)

In [5]:
college_data.describe()

,College_Name,State,Stream,UG_fee,PG_fee,Rating,Academic,Accommodation,Faculty,Infrastructure,Placement,Social_Life
count,6788,6788,6788,6788,6788,6788,6788,6788,6788,6788,6788,6788
unique,3120,35,10,2367,1572,66,54,72,54,64,74,65
top,National Institute of Technology,Maharashtra,Arts,--,--,--,--,--,--,--,--,--
freq,64,298,837,1170,3311,732,846,889,907,916,890,954

# 2. DATA CLEANING AND FORMATTING

### In this section we are working with missing , incorrent and invaild data values.

### Missing, incorrect, and invalid data need to be addressed to avert possible misleading mathematical operations. There are pandas functions, for example mean(), that exclude NaN values by default; however, other numerical operations consider all values, including missing values, to perform those operations. This will lead to wrong results. Incorrect and invalid data will also result in wrong outcomes. For these reasons, it is vital to tackle these different types of data according to their case.

*  ### Check Missing Values :

In [6]:
college_data.isnull().sum().sort_values(ascending=False)

College_Name      0
State             0
Stream            0
UG_fee            0
PG_fee            0
Rating            0
Academic          0
Accommodation     0
Faculty           0
Infrastructure    0
Placement         0
Social_Life       0
dtype: int64

### As we can see that above table that show the null values count per columns . Here, Our College dataset not have any column Null values.

*   ### Check Duplicated values

In [7]:
college_data.duplicated().sum()

0

### Using duplicated method we can check that any duplicated values are there or not. Here, not have any duplicated values.

*  ### Check Invaild Values

In [8]:
col=college_data.dtypes
print(col)

College_Name      object
State             object
Stream            object
UG_fee            object
PG_fee            object
Rating            object
Academic          object
Accommodation     object
Faculty           object
Infrastructure    object
Placement         object
Social_Life       object
dtype: object

In [9]:
college_data.tail(10)

,College_Name,State,Stream,UG_fee,PG_fee,Rating,Academic,Accommodation,Faculty,Infrastructure,Placement,Social_Life
6778,Jawaharlal Nehru Rajkeeya Mahavidyalaya,Andaman,Arts,843,"1,008",6.6,8.5,5,7,7.5,2.5,9
6779,"Mahatma Gandhi Government College, Mayabander",Andaman,Arts,"1,155",--,--,--,--,--,--,--,--
6780,"Tagore Government College of Education, Port B...",Andaman,Arts,--,--,9,9,--,--,9,9,--
6781,"Dr. B R Ambedkar Institute of Technology, Port...",Andaman,Hotel-management,"4,780","11,980",--,--,--,--,--,--,--
6782,Jawaharlal Nehru Rajkeeya Mahavidyalaya,Andaman,Agriculture,939,--,6.6,8.5,5,7,7.5,2.5,9
6783,Andaman & Nicobar Islands Institute of Medical...,Andaman,Medical,"91,050",--,8.3,8.6,8.4,8.4,8.3,8.2,8.1
6784,"Plastindia International University, Dadra & N...",Dadra,Engineering,--,--,--,--,--,--,--,--,--
6785,SSR Institute of Management and Research,Dadra,Management,"1,30,000",--,8,--,--,8,--,6,--
6786,Institute of Hotel Management and Catering Tec...,Dadra,Hotel-management,"77,000",--,7.7,7,7,8.2,8.5,8,7.4
6787,"Government Polytechnic, Daman",Daman,Engineering,"3,575","8,280",--,--,--,--,--,--,--

### As we can see that many of columns has '--' this value , that not recognized in Null values, so that first we are convert these values to Null and then remove from our dataframe.

In [10]:
college_data.isnull().sum().sort_values(ascending=False)

College_Name      0
State             0
Stream            0
UG_fee            0
PG_fee            0
Rating            0
Academic          0
Accommodation     0
Faculty           0
Infrastructure    0
Placement         0
Social_Life       0
dtype: int64

Look at the above table show that 0 the null values count per column but college_data's many columns contains invaild value like "--" ,so that we replace "--"  with NULL.

In [11]:
college_data["PG_fee"] = np.where(college_data["PG_fee"] == "--",np.NAN,college_data["PG_fee"])
college_data["UG_fee"] = np.where(college_data["UG_fee"] == "--", np.NAN,college_data["UG_fee"])
college_data["Rating"] = np.where(college_data["Rating"] == "--", np.NAN,college_data["Rating"])
college_data["Academic"] = np.where(college_data["Academic"] == "--", np.NAN,college_data["Academic"])
college_data["Accommodation"] = np.where(college_data["Accommodation"] == "--", np.NAN,college_data["Accommodation"])
college_data["Faculty"] = np.where(college_data["Faculty"] == "--", np.NAN,college_data["Faculty"])
college_data["Infrastructure"] = np.where(college_data["Infrastructure"] == "--", np.NAN,college_data["Infrastructure"])
college_data["Placement"] = np.where(college_data["Placement"] == "--", np.NAN,college_data["Placement"])
college_data["Social_Life"] = np.where(college_data["Social_Life"] == "--", np.NAN,college_data["Social_Life"])
college_data.tail(10)

,College_Name,State,Stream,UG_fee,PG_fee,Rating,Academic,Accommodation,Faculty,Infrastructure,Placement,Social_Life
6778,Jawaharlal Nehru Rajkeeya Mahavidyalaya,Andaman,Arts,843,"1,008",6.6,8.5,5,7,7.5,2.5,9
6779,"Mahatma Gandhi Government College, Mayabander",Andaman,Arts,"1,155",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6780,"Tagore Government College of Education, Port B...",Andaman,Arts,NaN,NaN,9,9,NaN,NaN,9,9,NaN
6781,"Dr. B R Ambedkar Institute of Technology, Port...",Andaman,Hotel-management,"4,780","11,980",NaN,NaN,NaN,NaN,NaN,NaN,NaN
6782,Jawaharlal Nehru Rajkeeya Mahavidyalaya,Andaman,Agriculture,939,NaN,6.6,8.5,5,7,7.5,2.5,9
6783,Andaman & Nicobar Islands Institute of Medical...,Andaman,Medical,"91,050",NaN,8.3,8.6,8.4,8.4,8.3,8.2,8.1
6784,"Plastindia International University, Dadra & N...",Dadra,Engineering,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6785,SSR Institute of Management and Research,Dadra,Management,"1,30,000",NaN,8,NaN,NaN,8,NaN,6,NaN
6786,Institute of Hotel Management and Catering Tec...,Dadra,Hotel-management,"77,000",NaN,7.7,7,7,8.2,8.5,8,7.4
6787,"Government Polytechnic, Daman",Daman,Engineering,"3,575","8,280",NaN,NaN,NaN,NaN,NaN,NaN,NaN

### As we can see that many of columns has '--' this value , that not recognized in Null values, so that first we are convert these values to Null and then remove from our dataframe.

In [12]:
college_data.isnull().sum().sort_values(ascending=False)

PG_fee            3311
UG_fee            1170
Social_Life        954
Infrastructure     916
Faculty            907
Placement          890
Accommodation      889
Academic           846
Rating             732
College_Name         0
State                0
Stream               0
dtype: int64

In [13]:
college_data.dropna(inplace=True)

In [14]:
college_data.isnull().sum()

College_Name      0
State             0
Stream            0
UG_fee            0
PG_fee            0
Rating            0
Academic          0
Accommodation     0
Faculty           0
Infrastructure    0
Placement         0
Social_Life       0
dtype: int64

In [15]:
college_data.shape

(3195, 12)

In [16]:
college_data.head()

,College_Name,State,Stream,UG_fee,PG_fee,Rating,Academic,Accommodation,Faculty,Infrastructure,Placement,Social_Life
0,Indian Institute of Technology Madras,Tamil nadu,Engineering,"75,116","23,070",8.7,9,7.9,8.7,8.8,8.8,9
1,"College of Engineering, Anna University",Tamil nadu,Engineering,"50,000","50,000",8.4,8.7,7.7,8.1,8.7,8.3,8.7
2,"NIT Trichy, Tiruchirappalli",Tamil nadu,Engineering,"1,49,250","99,250",8.5,8.6,7.8,8.2,8.7,8.8,8.7
3,Vellore Institute of Technology,Tamil nadu,Engineering,"1,98,000","1,83,000",8.3,8.3,8,7.8,8.9,8.5,8.5
4,"SRM Engineering College, Kanchipuram",Tamil nadu,Engineering,"2,60,000","1,70,000",7.2,6.5,6.6,6.9,7.6,7.1,8.3

### As we look at the above data , We can see that Rating column has overall rating of the college means average of the Academic Rating, Accommodation Rating, Faculty Rating, Infrastructure Rating, Placement Rating, Social_Life Rating. These various type of Rating columns does not affect our outcome . Therefore , We can remove these Rating columns and only keep is Overall Rating column.

In [17]:
new_collegedata=college_data[['College_Name','State','Stream','UG_fee','PG_fee','Rating']]
new_collegedata.head()

,College_Name,State,Stream,UG_fee,PG_fee,Rating
0,Indian Institute of Technology Madras,Tamil nadu,Engineering,"75,116","23,070",8.7
1,"College of Engineering, Anna University",Tamil nadu,Engineering,"50,000","50,000",8.4
2,"NIT Trichy, Tiruchirappalli",Tamil nadu,Engineering,"1,49,250","99,250",8.5
3,Vellore Institute of Technology,Tamil nadu,Engineering,"1,98,000","1,83,000",8.3
4,"SRM Engineering College, Kanchipuram",Tamil nadu,Engineering,"2,60,000","1,70,000",7.2

In [18]:
new_collegedata.dtypes

College_Name    object
State           object
Stream          object
UG_fee          object
PG_fee          object
Rating          object
dtype: object

In [19]:
new_collegedata.isnull().sum()

College_Name    0
State           0
Stream          0
UG_fee          0
PG_fee          0
Rating          0
dtype: int64

### Now , Our Data-set not contain any miss leading values that affect the our outcome. Here, data cleaning is done.

### The output of this operations  ensure that dataframe not have any missing , incorrect, inconsistant and inavild values . These clean dataframe used for model building to produce meaningful & correct output.  

# 3. Model Buliding

### For good model building ,It is necessary that which data is used  that are in correct format . Otherwise, That also lead miss leading output of model and decrease the accurecy of model.

### Here, We can need to change the dataType of the OverallRating, UG_fee , PG_fee columns object type to float , int , int respectively.

In [20]:
new_collegedata['Rating'] = new_collegedata['Rating'].astype(float)  
new_collegedata.rename(columns={'Rating':'Overall_Rating'},inplace=True)
print(new_collegedata.dtypes)

College_Name       object
State              object
Stream             object
UG_fee             object
PG_fee             object
Overall_Rating    float64
dtype: object

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [21]:
new_collegedata.head()

,College_Name,State,Stream,UG_fee,PG_fee,Overall_Rating
0,Indian Institute of Technology Madras,Tamil nadu,Engineering,"75,116","23,070",8.7
1,"College of Engineering, Anna University",Tamil nadu,Engineering,"50,000","50,000",8.4
2,"NIT Trichy, Tiruchirappalli",Tamil nadu,Engineering,"1,49,250","99,250",8.5
3,Vellore Institute of Technology,Tamil nadu,Engineering,"1,98,000","1,83,000",8.3
4,"SRM Engineering College, Kanchipuram",Tamil nadu,Engineering,"2,60,000","1,70,000",7.2

### As, We can see that from above table UG_fee and PG_fee columns have int value but it's contains comma thats why we couldn't convert these values to int. So, First of all we need to remove comma from data then, we able to convert it's datatype.

In [22]:
new_collegedata['UG_fee']=new_collegedata['UG_fee'].replace(",","",regex=True)
new_collegedata['UG_fee']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

0        75116
1        50000
2       149250
3       198000
4       260000
         ...
6760      7220
6764      7930
6773       939
6776       843
6778       843
Name: UG_fee, Length: 3195, dtype: object

In [23]:
new_collegedata['UG_fee'] = new_collegedata['UG_fee'].astype(int)  
print(new_collegedata.dtypes)

College_Name       object
State              object
Stream             object
UG_fee              int64
PG_fee             object
Overall_Rating    float64
dtype: object

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [24]:
new_collegedata['PG_fee']=new_collegedata['PG_fee'].replace(",","",regex=True)
new_collegedata['PG_fee']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

0        23070
1        50000
2        99250
3       183000
4       170000
         ...
6760     16020
6764     12500
6773      1128
6776      1008
6778      1008
Name: PG_fee, Length: 3195, dtype: object

In [25]:
new_collegedata['PG_fee'] = new_collegedata['PG_fee'].astype(int)  
print(new_collegedata.dtypes)

College_Name       object
State              object
Stream             object
UG_fee              int64
PG_fee              int64
Overall_Rating    float64
dtype: object

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [26]:
new_collegedata.head()

,College_Name,State,Stream,UG_fee,PG_fee,Overall_Rating
0,Indian Institute of Technology Madras,Tamil nadu,Engineering,75116,23070,8.7
1,"College of Engineering, Anna University",Tamil nadu,Engineering,50000,50000,8.4
2,"NIT Trichy, Tiruchirappalli",Tamil nadu,Engineering,149250,99250,8.5
3,Vellore Institute of Technology,Tamil nadu,Engineering,198000,183000,8.3
4,"SRM Engineering College, Kanchipuram",Tamil nadu,Engineering,260000,170000,7.2

* ### Now , We can see that above data frame are fully read for gives as input to model that produce list of recommended top 5 colleges as per input .

In [27]:
def recommad(userinput_state,userinput_Stream,userinput_cotype,userinput_fees):
 try:
      list_clg=[]
      Filter=new_collegedata[((new_collegedata.State==userinput_state)&(new_collegedata.Stream==userinput_Stream))]
      if userinput_fees=='Yes' :
        if userinput_cotype=='UG':
            df=Filter.sort_values(by=['UG_fee'],ascending=[True])
            name=df.College_Name
            list_clg=name[0:5]
        else:
            df=Filter.sort_values(by=['PG_fee'],ascending=[True])
            name=df.College_Name
            list_clg=name[0:5]
        
      else :
        df=Filter.sort_values(by=['Overall_Rating'],ascending=[False])
        name=df.College_Name
        list_clg=name[0:5]

      for i in list_clg:
        print(i)
 except:
    print('Something goes wronge...')

* ### recommand is function that takes 4 input values like prefered state name , stream type , course type and sorting type then it's provide list of top 5 recommended college.

In [28]:
recommad('Gujarat','Engineering','UG',True)

P.P. Savani University, Surat
Dhirubhai Ambani Institute of Information and Communication
Pandit Deendayal Petroleum University [PDPU] / (Energy
Pandit Deendayal Petroleum University, School of Technology
RK University

In [29]:
userinput_state=input('Enter the your state name : ')
userinput_Stream=input('Enter the your study stream : ')
userinput_fees=input('is data Sorted by fees?Y/N')
userinput_cotype=input('UG or PG ?')
recommad(userinput_state,userinput_Stream,userinput_cotype,userinput_fees)

Enter the your state name : Gujarat
Enter the your study stream : Engineering
is data Sorted by fees?Y/NYes
UG or PG ?UG
Vishwakarma Government Engineering College
L.D. College of Engineering
Faculty of Technology and Engineering, Maharaja Sayajirao
Institute of Infrastructure Technology Research and Management
Central Institute of plastics engineering & Technology-

In [30]:
states=new_collegedata['State'].unique()
states

array(['Tamil nadu', 'Maharashtra', 'Uttar pradesh', 'Delhi ncr',
       'Andhra pradesh', 'Karnataka', 'Telangana', 'Madhya pradesh',
       'Kerala', 'Rajasthan', 'Haryana', 'Gujarat', 'Punjab',
       'West bengal', 'Orissa', 'Uttarakhand', 'Assam', 'Bihar',
       'Chhattisgarh', 'Jharkhand', 'Himachal pradesh', 'Jammu',
       'Chandigarh', 'Goa', 'Arunachal pradesh', 'Meghalaya', 'Nagaland',
       'Puducherry', 'Tripura', 'Sikkim', 'Manipur', 'Mizoram', 'Andaman'],
      dtype=object)

In [31]:
streams=new_collegedata['Stream'].unique()
type(streams)
streams

array(['Engineering', 'Management', 'Science', 'Commerce', 'Arts',
       'Hotel-management', 'Agriculture', 'Medical', 'Pharmacy', 'Law'],
      dtype=object)

In [32]:
import pickle
pickle.dump(states.tolist,open('state_list.pkl','wb'))

In [33]:
pickle.dump(states.tolist,open('stream_list.pkl','wb'))

In [34]:
pickle.dump(new_collegedata,open('collegedata.pkl','wb'))

here , These pickle library used for dumpping our dataframe to ".pkl" file for transfering data . So that, We can use these data in creating Web-App of these College Recommendation System using streamlit library.